.container-md {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container-md {
        max-width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .container-md {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container-md {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1536px) {
    .container-md {
        max-width: 1280px;
    }
}

.container-xs {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .container-xs {
        max-width: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .container-xs {
        max-width: 768px;
    }
}

@media screen and (min-width: 1536px) {
    .container-xs {
        max-width: 1024px;
    }
}